<section id="banner">
    <div class="contenido-banner">
                <div class="carousel__contenedor">
                    <button aria-label="Anterior" class="carousel__anterior">
                        <i class="fas fa-chevron-left"></i>
                    </button>

                    <div class="carousel__lista">

                        <div class="carousel__elemento">
                            <img src="../../../assets/darth-vader.JPG"
                                alt="Constitution Square - Tower I"
                                height="450" width="450">
                            <input type="button" value="MARVEL"
                                class="boton-saber-mas">
                        </div>
                        <div class="carousel__elemento">
                            <img src="../../../assets/darth-vader.JPG"
                                alt="Empire State Building" height="450"
                                width="450">
                            <p>MARVEL</p>
                        </div>
                        <div class="carousel__elemento">
                            <img src="../../../assets/darth-vader.JPG"
                                alt="Harmony Tower" height="450"
                                width="450">
                            <p>Harmony Tower</p>
                        </div>

                        <div class="carousel__elemento">
                            <img src="../../../assets/darth-vader.JPG"
                                alt="Empire State Building" height="450"
                                width="450">
                            <p>Empire State Building</p>
                        </div>
                        <div class="carousel__elemento">
                            <img src="../../../assets/darth-vader.JPG"
                                alt="Harmony Tower" height="450" width="450">
                            <p>Harmony Tower</p>
                        </div>
                        <div class="carousel__elemento">
                            <img src="../../../assets/darth-vader.JPG"
                                alt="Empire State Building" height="330"
                                width="330">
                            <p>Empire State Building</p>
                        </div>
                        <div class="carousel__elemento">
                            <img src="../../../assets/darth-vader.JPG"
                                alt="Harmony Tower" height="330" width="330">
                            <p>Harmony Tower</p>
                        </div>
                    </div>

                    <button aria-label="Siguiente" class="carousel__siguiente">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <div class="indicadores">
                    <div role="tablist" class="carousel__indicadores"></div>
                </div>
            </div>
   
</section>

<section id="personas">
    <div>
        <img src="../imagenes/logo.png" width="240" height="220">
        <h4>Lorem ipsum dolor sit</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum, delectus!</p>
        <a href="#" class="boton-saber-mas">Saber mas</a>
    </div>
    <div>
        <img src="../imagenes/logo.png" width="240" height="220">
        <h4>Los más popular</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum, delectus!</p>
        <a href="#" class="boton-saber-mas">Saber más</a>
    </div>

    <div>
        <img src="../imagenes/logo.png" width="240" height="220">
        <h4>Pedir Cita</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum, delectus!</p>
        <a href="#" class="boton-saber-mas">Saber más</a>
    </div>
</section>
