<footer class="footer">
    <ul class="social-icon">
        <li class="icon-elem">
            <a href="" class="icon">
                <!-- https://ionic.io/ionicons -->
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </li>
        <li class="icon-elem">
            <a href="" class="icon">
            </a>
        </li>
    </ul>

    <ul class="menu-footer">
        <li class="menu-elem">
            <a href="" class="menu-icon">Inicio</a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon">Equipo</a>
        </li>
        <li class="menu-elem">
            <a href="" class="menu-icon">Contacto</a>
        </li>

        <li class="menu-elem">
            <a href="" class="menu-icon">video</a>
        </li>

        <li class="menu-elem">
            <a href="" class="menu-icon">Sobre Nosotros</a>
        </li>
    </ul>
    <p class="text-footer">año | Todos los derechos resessrvados</p>

    <p>&copy; Jose Gálvez Gómez</p>
</footer>