 <div class="secciones">
    <section id="banner">
        <div class="contenido-banner">
            <div class="box-info">
                <h1>CONTACTA CON NOSOTROS</h1>
                <div class="data">
                    <p><i class="fa-solid fa-phone"></i> 697 290 350</p>
                    <p><i class="fa-solid fa-envelope"></i>
                        thebluemonkeytattoogmail.com</p>
                    <p><i class="fa-solid fa-location-dot"></i> C. Pío
                        XII, 4, local 1, 41400 Écija, Sevilla</p>
                </div>
                <div class="links">
                    <a href="#"><i
                            class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i
                            class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <form>
                <div class="input-box">
                    <input type="text" placeholder="Nombre y apellido"
                        required>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" required
                        placeholder="Correo electrónico">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Asunto">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
                <div class="input-box">
                    <textarea
                        placeholder="Escribe tu mensaje..."></textarea>
                </div>
                <button type="submit">Enviar mensaje</button>
            </form>
        </div>
    </section>
    <div class="contenido-iconos">
        <div class="contenido-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=697290350"><img
                    src="../../../assets/logo-banana.jpeg"
                    height="200px" width="420px"></a>
        </div>
        <div class="iconos">
            <a
                href="https://api.whatsapp.com/send?phone=697290350"><img
                    src="../../../assets/Whatsapp.png"
                    height="200px" width="420px">
                </a>
        </div>
        <div class="iconos">
            <a
                href="https://maps.app.goo.gl/xtRTamMSxPm4aLJE6"><img
                src="../../../assets/ubicacion.jpeg"
                height="200px" width="420px"></a>
            <br>
        </div>
        <br>
    </div>
    <br>

</div>
