<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Con este link puedo los obtener iconos en:  https://fontawesome.com/  -->
  <script src="https://kit.fontawesome.com/73097054d4.js" crossorigin="anonymous"></script>

  <!--=============== REMIXICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="principal.component.css">

  <title>BlueMonkeyTattoo</title>
</head>

<body>

  <div class="secciones">
    <section id="banner">
      <div class="contenido-banner">
        <h3><span><strong> BlueMonkeyTattoo: </strong></span>Frase prueba<br> Estudio de Tatuaje en ÉCIJA </h3>
         <a href="#" class="boton-empezar">Tatuajes Destacados</a>
      </div>
    </section>
    <section id="personas">
      <div>
        <img src="../../../assets/Estudio/bg.jpg" width="240" height="220">
        <h4>Trabajos Populares</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Earum, delectus!</p>
        <a href="#" class="boton-saber-mas">Saber mas</a>
      </div>
      <div>
        <img src="../../../assets/logo.jpeg" width="240" height="220">
        <h4>Pedir Cita</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Earum, delectus!</p>
        <a href="#" class="boton-saber-mas">Saber más</a>
      </div>

      <div>
        <img src="../../../assets/logo-banana.jpeg" width="240" height="220">
        <h4>Sobre Nosotros</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Earum, delectus!</p>
        <a href="#" class="boton-saber-mas">Saber más</a>
      </div>
    </section>
    <section id="iconos">
      <div class="contenido-iconos">
        <div>
          <i class="fa-solid fa-truck-fast iconos"></i>
          <h6>Rápido</h6>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div>
          <i class="fa-brands fa-accessible-icon iconos"></i>
          <h6>Accesible</h6>
          <p>Lorem ipsum dolor sit.</p>

        </div>
        <div id="icono-mobile">
          <i class="fa-solid fa-mobile iconos"></i>
          <h6>Responsive</h6>
          <p>Lorem ipsum dolor sit.</p>
        </div>
      </div>
      <div class="boton-iconos">
        <a href="#" class="boton-saber-mas">Saber más</a>
      </div>
    </section>
  </div>

  <!--=============== MAIN JS ===============-->
  <script src="js/main.js"></script>
</body>

</html>

