<header class="header">
    <nav class="nav container">
        <div class="nav__data">
            <a href="/principal" class="nav__logo">
                <i class="ri-planet-line"></i> BlueMonkeyTattoo
            </a>
            <!-- Modo Responsive (Hamburguesa) -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li><a href="/principal" class="nav__link">Inicio</a></li>

                <li><a href="./galeria" class="nav__link">Tatuajes</a></li>

                <!--=============== DROPDOWN 1 ===============-->
               

                <li><a href="#" class="nav__link">Estudio</a></li>

                <!--=============== DROPDOWN 2 ===============-->

                <li><a href="/contacto" class="nav__link">Contacto</a></li>
                <li class="dropdown__item">
                    <div class="nav__link">
                        <a href="/tienda" >Tienda</a>
                        <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li>
                            <a href="#" class="dropdown__link">
                                 Cremas
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown__link">
                              Piercing
                            </a>
                        </li>

                        <!--=============== DROPDOWN SUBMENU ===============-->

                    </ul>
                </li>
                <br><br>
                <li><a href="/tienda" class="nav__link"><i class="ri-shopping-cart-2-line"></i></a></li>
                <br>
                <li><a href="/registro" class="nav__link"><i
                            class="fa-regular fa-user"></i>Iniciar Sesión</a></li>
                    

        </ul>
        </div>
    </nav>
</header>